#author {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    transform: rotate(45deg);
    width: 300px;
    position: absolute;
    z-index: 4;
    top: 200px;
}

#skills {
    position: relative;
    top: -200px;
    width: 300px;
    z-index: 4;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#skills img {
    width: calc(300px/5);
}

#bottomText {
    z-index: 4;
}

#bottomText p {
    color: white;
}

#bottomText {
    top: 499px;
    position: absolute;
    width: 300px;
    text-align: center;
    font-size: 1.5rem;
}

#author img {
    width: 150px;
}

#author img:nth-child(1):hover {
    transform: scale(1.08);
    transform-origin: bottom right;
}

#author img:nth-child(2):hover {
    transform: scale(1.08);
    transform-origin: bottom left;
}

#author img:nth-child(3):hover {
    transform: scale(1.08);
    transform-origin: top right;
}

#author img:nth-child(4):hover {
    transform: scale(1.08);
    transform-origin: top left;
}