#author {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    transform: rotate(45deg);
    width: 300px;
    position: absolute;
    z-index: 4;
    top: 220px;
}

#author, #bottomText {
    left: 30px;
}

#bottomText {
    padding-top: 10px;
}

#skills p {
    flex-basis: 100%;
}

#skills {
    position: relative;
    top: -200px;
    width: 340px;
    z-index: 4;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(-10px);
    }
    10% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

#skills img {
    width: calc(300px/5);
    
}

#skills a {
    animation-name: jump;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#skills a:nth-child(6) img {
    padding-top: 12px;
    padding-right: 3px;
}

#skills a:nth-child(1) {
    animation-delay: 0s;
}
#skills a:nth-child(2) {
    animation-delay: 0.2s;
}
#skills a:nth-child(3) {
    animation-delay: 0.4s;
}
#skills a:nth-child(4) {
    animation-delay: 0.6s;
}
#skills a:nth-child(5) {
    animation-delay: 0.8s;
}
#skills a:nth-child(6) {
    animation-delay: 1s;
}
#skills a:nth-child(7) {
    animation-delay: 1.2s;
}
#skills a:nth-child(8) {
    animation-delay: 1.4s;
}
#skills a:nth-child(9) {
    animation-delay: 1.6s;
}

#bottomText {
    z-index: 4;
}

#bottomText p {
    color: white;
}



#bottomText {
    top: 499px;
    position: absolute;
    width: 300px;
    text-align: center;
    font-size: 1.5rem;
}

#author img {
    width: 150px;
}

#author img:nth-child(1):hover {
    transform: scale(1.08);
    transform-origin: bottom right;
}

#author img:nth-child(2):hover {
    transform: scale(1.08);
    transform-origin: bottom left;
}

#author img:nth-child(3):hover {
    transform: scale(1.08);
    transform-origin: top right;
}

#author img:nth-child(4):hover {
    transform: scale(1.08);
    transform-origin: top left;
}