@keyframes glow {
    0% { box-shadow: 0 0 3px 3px #f9bb00bb; }
     50% { box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.208); }
     100% { box-shadow: 0 0 3px 3px #f9bb00bb; }
   }

.glowing {
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


