.Description {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 154px;
}

.descrContainer {
    padding-left: 20px;
}

h1, h2, p {
    font-family: 'ComicFont';
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.343);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    padding-left: 50px;
}

p {
    font-size: 1.9rem;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.funFact {
    background-color: #93959854;
    border-left: 5px solid #939598;
    margin-right: 40px;
    height: fit-content;
}

#descriptions {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding-left: 50px;
}
.bottomBar {
    width: 100%;
}

.descrItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(2px);
    }
    25% {
        transform: translateX(-2px);
    }
    37.5% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    62.5% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shakereverse {
    0% {
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(-2px);
    }
    25% {
        transform: translateX(2px);
    }
    37.5% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    62.5% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.paragraphs {
    height: 300px;
}

.imageContainer img {
    width: 80%;
    padding: 10%;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.imageContainer img:nth-child(1) {
    animation-name: shakereverse;
}

.pulse {
    animation-duration: 2s !important;
    animation-name: pulse !important; 
}
