.ParkScene {
    position: relative;
    overflow: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(202,202,202,1) 22%, rgba(255,255,255,1) 48%); 
    z-index: -1;
}

.ParkScene img {
    position: relative;
    bottom: -5px;
}

.MCSitting img {
    position: absolute;
    bottom: calc(0.25*66%);
    left: calc(0.18*66%);
    width: 16%;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 1;
    }
}

.WomanSitting {
    animation-name: flicker;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.WomanSitting img {
    position: absolute;
    bottom: calc(0.32*66%);
    left: calc(0.53*66%);
    width: 15%;
}

.content {
    position: relative;
}

#cloudsWrapper {
    position: absolute;
    top: -15%;
    width: 105%;
    left: -2.5%;
    overflow: hidden;
}

#clouds {
    width: 107%;
}

.Title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10%;
    margin-top: 9%;
    margin-bottom: 5%;
    height: 60%;
    width: 30%;
}

.Title img:nth-child(1) {
    position: absolute;
    height: 93%;
    right: 8%;
}

.Title img:nth-child(2) {
    position: absolute;
    height: 93%;
    top: 0;
}

#dialogueImage {
    position: absolute;
    bottom: 64%;
    left: 23%;
    width: 21%;
}

#seeTrailer {
    position: absolute;
    bottom: 66%;
    left: 24%;
    width: 10%;
}

#goToComic {
    position: absolute;
    bottom: 63%;
    left: 22%;
    width: 23%;
}