.ParkScene {
    max-width: 1844.9px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 80px;
}

.MCSitting {
    position: absolute;
    top: 251px; 
    left: 251px;
}

.WomanSitting img {
    position: absolute;
    top: 27%;
    left: 53%;
    width: 20%;
}

#cloudsWrapper {
    position: absolute;
    top: 0;
    width: 105%;
    left: -2.5%;
}

#dialogueImage {
    position: absolute;
    top: 10%;
    left: 26%;
    width: 41%;
}

#seeTrailer {
    position: absolute;
    top: 12%;
    left: 28%;
    width: 22%;
}

#goToComic {
    position: absolute;
    top: 12%;
    left: 26%;
    width: 44%;
}