body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('images_website/background.jpg');
  background-size: 250px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#stage {
  transform: scale(0.5) translateY(250px) translateX(-140px);
  position: relative;
}
#animation_container {
  display: flex;
  justify-content: center;
}

#stageOutline {
  position: absolute;
  width: 2262px;
  top: -230px;
  left: -152px;
  pointer-events: none;
}