.Desk {
    margin: 0 auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(115,115,115);
    background: linear-gradient(90deg, rgba(115,115,115,0.7) 0%, rgba(238,238,238,0.7) 60%); 
    overflow-x: hidden;
}

.desk {
    width: auto;
    height: 100vh;
    overflow-x: hidden;
}

.innerDesk {
    position: relative;
}

.rotated {
    transform: rotate(15deg);
}

.comic {
    position: absolute;
    left: 628px;
    top: 240px;
    width: 220px;
}

.hat {
    position: absolute;
    left: 850px;
    top: 135px;
    width: 486px;
    transition: opacity;
    transition-delay: 0.3s;
    transition-duration: 1s;
}

.letter {
    position: absolute;
    left: 408px;
    top: 258px;
    width: 200px;
}

.fade {
    opacity: 0;
}

.key {
    position: absolute;
    left: 997px;
    top: 253px;
    width: 48px;
}

#logos {
    position: relative;
    top: 565px;
    left: -135px;
    z-index: 10;
    background-color: #f9fafa;
    height: 66px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
}

#logos img {
    width: 50px;
    padding: 5px;
}
.AuthorCircleAndLetter {
    display: flex;
    position: absolute;
}

#background {
    position: relative;
    width: 25vw;
    left: 25vw;
}

#authorCircleDiv {
    display: flex;
    align-items: center;
    position: relative;
    left: 128px;
}

.letterOpened {
    position: relative;
    width: 500px;
    z-index: 1;
}

.DarkBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.643);
    z-index: 0;
}