.Desk {
    margin: 0 auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgb(115,115,115) 0%, rgb(238, 238, 238) 60%); 
    overflow: hidden;
}

.desk {
    width: auto;
    height: 100vh;
    overflow-x: hidden;
}

.innerDesk {
    position: relative;
}

.rotated {
    transform: rotate(15deg);
}

.comic {
    position: absolute;
    left: 1520px;
    top: 292px;
    width: 256px;
}

.hat {
    position: absolute;
    left: 1795px;
    top: 182px;
    width: 516px;
    transition: opacity;
    transition-delay: 0.3s;
    transition-duration: 1s;
}

.letter {
    position: absolute;
    left: 1245px;
    top: 298px;
    width: 265px;
}

.fade {
    opacity: 0;
}

.key {
    position: absolute;
    left: 1945px;
    top: 309px;
    width: 48px;
}

#logos {
    position: relative;
    top: 565px;
    left: -135px;
    z-index: 10;
    background-color: #f9fafa;
    height: 66px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
}

#logos img {
    width: 50px;
    padding: 5px;
}
.AuthorCircleAndLetter {
    display: flex;
    position: absolute;
}

#background {
    position: relative;
    width: 25vw;
    left: 25vw;
}

#authorCircleDiv {
    display: flex;
    align-items: center;
    position: relative;
    left: 128px;
}

.letterOpened {
    position: relative;
    width: 500px;
    z-index: 1;
}

.DarkBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.643);
    z-index: 0;
}