.Desk {
    margin: 0 auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(115,115,115);
    background: linear-gradient(90deg, rgba(115,115,115,0.7) 0%, rgba(238,238,238,0.7) 60%); 
    padding-bottom: 100px;
    overflow-x: hidden;
}

.desk {
    width: 1550px;
    height: auto;
    overflow-x: hidden;
}

.innerDesk {
    position: relative;
}

.rotated {
    transform: rotate(15deg);
}

.comic {
    position: absolute;
    left: 41.5%;
    top: 23%;
    width: 15%;
}

.hat {
    position: absolute;
    left: 55%;
    width: 35%;
    top: 12%;
    transition: opacity;
    transition-delay: 0.3s;
    transition-duration: 1s;
}

.letter {
    position: absolute;
    left: 26%;
    top: 24%;
    width: 15%;
}

.fade {
    opacity: 0;
}

.key {
    position: absolute;
    left: 64%;
    top: 24%;
    width: 3%;
}



.AuthorCircleAndLetter {
    display: flex;
    position: absolute;
}

#background {
    position: relative;
    width: 25vw;
    left: 25vw;
}

#authorCircleDiv {
    display: flex;
    align-items: center;
    position: relative;
    left: 128px;
}

.letterOpened {
    position: relative;
    width: 500px;
    z-index: 1;
}

.DarkBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.643);
    z-index: 0;
}