#prev,
#next {
    cursor: pointer;
}

#prev {
    transform: rotate(180deg) translateX(400px);
}

#next {
    transform: translateX(400px);
}

/* paper flip effect */
.flipped .front,
.flipped .back {
    transition: transform 1s;
    transform: rotateY(-180deg);
}

.Book {
    width: 70%;
    padding-top: 100px;
    height: 0;
    width: calc((2 * (500px / 1.414)) + (48px * 2));
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1000px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    position: absolute;
}


.book {
    position: relative;
    width: 700px;
    margin: 10px;
    top: -200px;
}

.flipped {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

}

@keyframes shift {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(350px);
    }
}

.shiftRight {
    animation-name: shift;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5;
    border-radius: 5px;
}

.back img {
    transform: scaleX(-1);
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.panel {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}